@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style-type: square;
  margin-left: 30px;
  padding: 2px;
}
.d-none{
display:none;
}
.custom-inn {
  width: 100%;
  z-index: 11;
  height: 100%;
}
.start-sess {
  width: auto;
}
.p-3.h-auto.w-full.items-center.overflow-hidden.color-inherit.subpixel-antialiased.rounded-b-large.flex.flex-col.gap-3.relative {
  display: none;
}

.avatar-up video {
  width: 1080px !important;
  height: 540px !important;
}
.bg-content1 {
  --tw-bg-opacity: 0;
  background-color: transparent;
  box-shadow: none !important;
}
.avatar-inn {
  display: flex;
  gap: 20px;
  justify-content: end;
  z-index: 99;
}
.flex.flex-col.gap-2.absolute.bottom-3.right-3 {
  position: absolute;
  top: 0;
  z-index: 9999;
}

.shadow-lg {
  --tw-shadow: 0px;
  --tw-shadow-colored: 0px;
  box-shadow: 0px;
}
.main-up.dissolve-white {
  background-color: white !important; /* Ensure the background color turns to white */
  transition: background-color 2s ease-out; /* Smooth transition */
}

.main-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 980px;
  width: 1920px;
  overflow: hidden;
  background: #fff;
}
.css-1sqwp91 {
  max-width: 100%!important;
}
.custom-inn>div{
height:100%;
}

.avatar-up {
  width: 100%;
  height: 100%;
  margin-top: 62px;
  margin-left: 9px;
}


@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}


.flex.flex-col.relative.overflow-hidden.h-auto.text-foreground.box-border.bg-content1.outline-none.data-\[focus-visible\=true\]\:z-10.data-\[focus-visible\=true\]\:outline-2.data-\[focus-visible\=true\]\:outline-focus.data-\[focus-visible\=true\]\:outline-offset-2.shadow-medium.rounded-large.transition-transform-background.motion-reduce\:transition-none {
  z-index: 99;
}

.avatar-stream {
  transition: opacity 2s ease-out, filter 2s ease-out;

}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce-animation {
  animation: bounce 0.8s ease-in-out infinite;
}
.bg-main {
  margin-top: 400px;
  margin-right: 0px;
}

.main-one+div {
  height: 100%;
}

.main-one+div>div {
  align-items: flex-end;
  justify-content: space-around;
}

.start-btn, .start-btn:hover, .start-btn:active, .start-btn:focus {
background-color: transparent!important;
opacity:1!important;

}

.transition-transform-colors-opacity {
  transition-property: none!important;
  transition-timing-function: ease;
  transition-duration: inherit;
}
.text-default-foreground {
  --tw-text-opacity: 0!important;
  color: transparent!important;
}

video{
pointer-events: none;

}

.avatar-stream {
  opacity: 0;
  visibility: hidden;
}