@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style-type: square;
  margin-left: 30px;
  padding: 2px;
}
.d-none{
display:none;
}
.custom-inn {
  width: 100%;
  z-index: 11;
  height: 100%;
}
.start-sess {
  width: auto;
}
.p-3.h-auto.w-full.items-center.overflow-hidden.color-inherit.subpixel-antialiased.rounded-b-large.flex.flex-col.gap-3.relative {
  display: none;
}

.avatar-up video {
  width: 1080px !important;
  height: 540px !important;
}
.bg-content1 {
  --tw-bg-opacity: 0;
  background-color: transparent;
  box-shadow: none !important;
}
.avatar-inn {
  display: flex;
  gap: 20px;
  justify-content: end;
  z-index: 99;
}
.flex.flex-col.gap-2.absolute.bottom-3.right-3 {
  position: absolute;
  top: 0;
  z-index: 9999;
}

.shadow-lg {
  --tw-shadow: 0px;
  --tw-shadow-colored: 0px;
  box-shadow: 0px;
}

.main-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 1920px;
  width: 1080px;
  overflow: hidden;
  background: #fff;
}
.css-1sqwp91 {
  max-width: 100%!important;
}
.custom-inn>div{
height:100%;
}

.avatar-up {
  width: 100%;
  height: 100%;
  margin-top: 62px;
  margin-left: 9px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
#main-video.fade-in {
  animation: fadeIn 5s ease-in-out 1s forwards; /* Delay by 1s and duration 2s */
}
#main-video.fade-in {
  animation: fadeIn5s ease-in-out 1s forwards;
}

/* GIF animation to appear from bottom to top */
.gif-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 9999;
  opacity: 1;
  animation: slideUp 3s ease-out forwards;
}

.loading-gif {
  width: 200px; /* Adjust to fit your needs */
  height: auto;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}


.flex.flex-col.relative.overflow-hidden.h-auto.text-foreground.box-border.bg-content1.outline-none.data-\[focus-visible\=true\]\:z-10.data-\[focus-visible\=true\]\:outline-2.data-\[focus-visible\=true\]\:outline-focus.data-\[focus-visible\=true\]\:outline-offset-2.shadow-medium.rounded-large.transition-transform-background.motion-reduce\:transition-none {
  z-index: 99;
}

.avatar-stream {
  transition: opacity 2s ease-out, filter 2s ease-out;

}